functions :: 
    set of lines of code --> do certain task 
    --> wirte once use many

In [1]:
print("iti") # print --> built in function --> output value to a stream

iti

In [2]:
myl= [3,4,5,6,7]
print(myl)

[3, 4, 5, 6, 7]

define our own functions
===> write code once use it many time 

def functionname(parameters: optional):
    do operation 
    return value/ set of values // don't return with anything

Functions with known minimum , maximum of argument

1- define basic empty function function

In [3]:
def myfun():
    pass 
# define function in the memory --> with name myfun 
# then I can use it many time

call the function ?

In [4]:
myfun()

function that print helloworld

In [7]:
def helloworld():
    print("Hello World")

In [6]:
helloworld()
helloworld()
helloworld()

Hello World
Hello World
Hello World

define a function that asks user to enter his name then makesure that name doesn't contain whitespaces or number and print it

this function accept 0 arguments

In [11]:
def askforname():
    username  = input("Enter your name: ")
    if username.isalpha():
        print(f'name= {username}')
    else:
        print("--not valid name ")

In [12]:
askforname()

name= noha

In [13]:
askforname()

--not valid name

In [14]:
askforname("iti")

TypeError: askforname() takes 0 positional arguments but 1 was given

In [15]:
res = askforname()
print(f'res = {res}')

name= ahmed
res = None

In [16]:
def askforname():
    username  = input("Enter your name: ")
    if username.isalpha():
        print(f'name= {username}')
    else:
        print("--not valid name ")
        
    return   # this function return with None

In [17]:
print(askforname())

name= jjj
None

function that returns with value

In [18]:
def askforuppername():
    username  = input("Enter your name: ")        
    return  username.upper()

In [20]:
res=askforuppername()
print(f"name= {res}")

name= NOHA

In [21]:
def askforuppername():
    username  = input("Enter your name: ")        
    print(  username.upper())

res = askforuppername()
print(f"name= {res}")

NOHA
name= None

function return with more than one value

In [22]:
def get_fullname():
    fname = input("Enter your name: ")
    lname = input("Enter your last name: ")
    fullname = f'{fname} {lname}'
    return fname, lname, fullname  # implicitly --> tuple

In [24]:
name_parts = get_fullname()
print(name_parts)  # tuple

('noha', 'shehab', 'noha shehab')

In [25]:
def get_fullname():
    fname = input("Enter your name: ")
    lname = input("Enter your last name: ")
    fullname = f'{fname} {lname}'
    return {
        'fname': fname,
        'lname': lname,
        'fullname': fullname
    }

name_parts = get_fullname()
print(name_parts)

{'fname': 'noha', 'lname': 'shehab', 'fullname': 'noha shehab'}

function accept arguments  (mandatory arguments)

In [26]:
def sumnum(num1,num2):
    res = num1 + num2
    print(f"{num1} + {num2} = {res}")
    return res

In [27]:
sumnum(4,5)

4 + 5 = 9

9

In [28]:
sumres = sumnum(405,455)
print(sumres)

405 + 455 = 860
860

In [29]:
x  = sumnum(3)

TypeError: sumnum() missing 1 required positional argument: 'num2'

In [31]:
def askfor_info(name, age):
    print(f"name={name}, age= {age}")
    
askfor_info(input("please enter name"), input("please enter age"))

name=noha, age= 31

In [32]:
def askfor_info(name, age):
    print(f"name={name}, age= {age}")
  
### this part to call the function  
name = input("please enter name")
age=  input("please enter age")
    
askfor_info(name,age )

name=rrr, age= 444

In [33]:
askfor_info('ffff',434534534)

name=ffff, age= 434534534

define the function

In [34]:
def myfunction(firtname, lastname): # firstname, lastname (arguments)
    fullname = f"{firtname} {lastname}"
    return fullname

call the function

In [35]:
res= myfunction("test", "test")
print(res)

test test

In [36]:
fname = input("Enter your first name: ")
lname = input("Enter your last name: ")
fullname = myfunction(fname, lname)
print(fullname)

rr rr

Functions with optional number of arguments

In [38]:
print("name")
print("python", end='#')
print("age")

name
python#age

how to implement this in my function

In [41]:
def sumnum(num1,num2=10):
    print(f"num1= {num1}, num2= {num2}")
    res = num1 + num2
    print(res)
    
sumnum(4,5)

num1= 4, num2= 5
9

In [42]:
sumnum(3)

num1= 3, num2= 10
13

In [43]:
def mulnums(num1=10, num2=10):
    print(f"num1= {num1}, num2= {num2}")
    res = num1 * num2
    print(f'res= {res}')

In [44]:
mulnums()

num1= 10, num2= 10
res= 100

In [45]:
mulnums(4)

num1= 4, num2= 10
res= 40

In [46]:
mulnums(3,5)

num1= 3, num2= 5
res= 15

Functions with unknown number of arguments

In [47]:
print(10 , "iti", True, 5435, 2344)

10 iti True 5435 2344

In [48]:
def ask_for_students(students):
    print(f'students= {students}')

In [49]:
ask_for_students("444")

students= 444

In [50]:
ask_for_students()

TypeError: ask_for_students() missing 1 required positional argument: 'students'

In [51]:
ask_for_students('rer', 'err','erer')

TypeError: ask_for_students() takes 1 positional argument but 3 were given

In [52]:
def ask_for_students(*students):  # * --> represent zero or more
    print(f'students= {students}') # accept values and save it in a tuple

In [53]:
ask_for_students()

students= ()

In [54]:
ask_for_students(44,54,55)

students= (44, 54, 55)

In [55]:
ask_for_students('fdfsdf')

students= ('fdfsdf',)

In [56]:
ask_for_students(3,435,'244', 124,4234,321,424,435)

students= (3, 435, '244', 124, 4234, 321, 424, 435)

check this example

In [57]:
temp = 'My name is {anyname}, I works at {anywork}'
print(temp)

My name is {anyname}, I works at {anywork}

format temp --> anyname, anywork

In [58]:
print(temp.format(anywork='iti', anyname='abc'))

My name is abc, I works at iti

In [59]:
def intoduceyourself(info):
    print(info)

In [60]:
intoduceyourself(name='ahmed')

TypeError: intoduceyourself() got an unexpected keyword argument 'name'

In [61]:
intoduceyourself(fname='ali', age=30)

TypeError: intoduceyourself() got an unexpected keyword argument 'fname'

define function accept variable number of keyword argument

In [62]:
def intoduceyourself(**info):  # unknown number of keyword argument key=value
    print(info)  # saved in dict -->  {key:value, }

In [63]:
intoduceyourself()

{}

In [64]:
intoduceyourself(name='ahmed')

{'name': 'ahmed'}

In [65]:
intoduceyourself(age=30, fname='ahmed', city='cairo')

{'age': 30, 'fname': 'ahmed', 'city': 'cairo'}

myfun(3,10)
return [10 ,11, 12]
---------------------------------
abcfun(44)

----
python =---> nohtyp
-------
abdulrahmanxyz
abdu
lr
ahm
anxyz