tuple is one of the sequences
1- define a tuple

In [2]:
myt = ()
myt2=  ('ahmed',34, 33.33, 'iti',True, None, 'iti', ['python', 'sql', 'powerbi'])
print(myt, myt2)

() ('ahmed', 34, 33.33, 'iti', True, None, 'iti', ['python', 'sql', 'powerbi'])

get len of tuple

In [3]:
print(len(myt2))

8

count element occurrence in the tuple

In [4]:
print(myt2.count('iti'))

2

get index of element

In [5]:
print(myt2.index('iti'))

3

tuple is iterable

In [6]:
for abbass in myt2:
    print(f"item = {abbass}")

item = ahmed
item = 34
item = 33.33
item = iti
item = True
item = None
item = iti
item = ['python', 'sql', 'powerbi']

slicing tuple

In [7]:
print(myt2[2])

33.33

In [8]:
print(myt2[3:])

('iti', True, None, 'iti', ['python', 'sql', 'powerbi'])

In [9]:
print(myt2[::2])

('ahmed', 33.33, True, 'iti')

check if element exists in tuple or not

In [10]:
print('noha' in myt2)

False

can I update tuple content ?? 
No --> tuple is immutable data ==> its content cannoy be changed after creation

In [12]:
print(myt2[1])

34

In [13]:
print(myt2)
myt2[1]='updated'
print(myt2)

('ahmed', 34, 33.33, 'iti', True, None, 'iti', ['python', 'sql', 'powerbi'])

TypeError: 'tuple' object does not support item assignment

In [15]:
print(myt2)
print(myt2[7].pop())
print(myt2)

('ahmed', 34, 33.33, 'iti', True, None, 'iti', ['python', 'sql', 'powerbi'])
powerbi
('ahmed', 34, 33.33, 'iti', True, None, 'iti', ['python', 'sql'])

tuple is immutable datatype 
-> concat

In [16]:
l1= ('sql','python', 'powerbi' )
l2  =('presentation skills', 'interview skills', 'communication skills', 'freelance')

l3 = l1 + l2 # new tuple 
print(l3)

('sql', 'python', 'powerbi', 'presentation skills', 'interview skills', 'communication skills', 'freelance')

print element and its index in the tuple ??

In [17]:
counter= 0
for item_ in myt2:
    print(f"index={counter}, item={item_}")
    counter+=1

index=0, item=ahmed
index=1, item=34
index=2, item=33.33
index=3, item=iti
index=4, item=True
index=5, item=None
index=6, item=iti
index=7, item=['python', 'sql']

use enumerate function ??
generate index for iterable --> tuple

In [18]:
myt2_enum = enumerate(myt2)
print(myt2_enum) # this is an iterable object (index, item)

<enumerate object at 0x7a35699f9ee0>

In [19]:
for item_index, value in myt2_enum:
    print(f"{item_index}: {value}")

0: ahmed
1: 34
2: 33.33
3: iti
4: True
5: None
6: iti
7: ['python', 'sql']

cast string to a tuple

In [20]:
message  = 'hello from ghaza'
message = tuple(message)
print(message)

('h', 'e', 'l', 'l', 'o', ' ', 'f', 'r', 'o', 'm', ' ', 'g', 'h', 'a', 'z', 'a')

split string to a tuple

join tuple elements to one string  --> all tuple elements must be strings

In [21]:
mytuple = ('we', 'love', 'python')
myword = '_'.join(mytuple)
print(myword, type(myword))

we_love_python <class 'str'>

cast list to tuple ?

In [22]:
l1 = [4,54,True,'iti']
t = tuple(l1)
print(t)

(4, 54, True, 'iti')

In [23]:
t = list(t)
print(t)

[4, 54, True, 'iti']

tuple of one item

In [25]:
names = ('ahmed',)
print(names, type(names))

('ahmed',) <class 'tuple'>

swap

In [26]:
var1= 'iti'
var2= 'python'

temp = var1
var1 = var2
var2 = temp 

print(var1, var2)

python iti

In [27]:
var1= 'iti'
var2= 'python'
print(var1, var2)
var2, var1= var1, var2
print(var1, var2)

iti python
python iti